<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ToDoListDbContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=TotDoList.DAL.ToDoListDbContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>